includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 6
    paths:
        - includes
    bootstrapFiles:
        - phpstan-bootstrap.php
    scanFiles:
        - yardlii-core-functions.php
    checkMissingIterableValueType: false
