# phpstan.neon
includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - includes
        - tests/unit

    # FIX: 'excludePaths' must be at this top 'parameters' level
    excludePaths:
        - vendor/*
        - assets/*
        - tests/integration/*

    # 'bootstrapFiles' is also at this level
    bootstrapFiles:
        - tests/phpstan-bootstrap.php

    reportUnmatchedIgnoredErrors: false