name: CI
on:
  pull_request:
  push:
    branches: [ main ]
jobs:
  php-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [ '8.1', '8.2' ]
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
          tools: composer

      - name: Cache composer
        uses: actions/cache@v4
        with:
          path: ~/.cache/composer
          key: composer-${{ runner.os }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            composer-${{ runner.os }}-
      - name: Install deps
        run: composer install --no-interaction --prefer-dist

      - name: PHPStan
        run: composer run stan
        # or: vendor/bin/phpstan analyse

      - name: PHPUnit
        run: composer run test
        # or: vendor/bin/phpunit